body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.add-todo {
    
    background-color: white;
    padding: 20px;
    border-right: 1px solid #ccc;
    height: 100vh; /* Ensures the form takes full height of the viewport */
    width: 400px;
    position: fixed;
    top: 26px;
    left: 0;
}

.todo-list {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    width: calc(100vw - 700px);
    left: 450px;
    position: relative; /* Added position: relative; */
}

.todo-list li {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.todo-form label,
.todo-form input,
.todo-form textarea,
.todo-form button {
    margin-bottom: 10px;
}

.todo-form input,
.todo-form textarea {
    padding: 10px;
}

.search-form {
    top: 584px;
    position: absolute;
    left: 20px;
    
}

.search-form input{
    border-radius: 5px;
    outline: 0;
    width: 319px;
    height: 40px;
}

.search-form button{
    background: url('img/search.png');
    background-position:center;
    background-repeat:no-repeat;
    width: 46px;
    height:46px;
    background-size: 100% 100%;

}

.search-form input:hover, .search-form input:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }

.todo-form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.todo-form button:hover {
    background-color: #45a049;
}

#f2 {
    margin-left: 10px;
    color: #ff0000;
}

/* .searchform */