/* styles.css */
.return-home-btn {
    position: fixed;
    top: 0px;
    left: 0px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.return-home-btn:hover {
    background-color: #2980b9;
}
